# Patterns of intentionally untracked files that Git should ignore

# Python compiled files
__pycache__/

# Virtual Python Environment builder
.virtualenv/

# Django settings and SQLite3 database
wlan_simulation_game_settings.py
db.sqlite3

# Private development data
private/
