{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'All cards' %} – {{ block.super }}{% endblock %}

{% block heading %}{% trans 'All cards' %}{% endblock %}

{% block both %}
    <div class="col c12">
        <p><a href="{% url 'card_convent' %}">{% trans 'Goto convent' %}</a></p>
        {% regroup card_list by get_path_display as path_list %}
        <ul>
            {% for path_group in path_list %}
                <li style="margin-bottom:1em;">
                    {% trans 'Path' %}: {{ path_group.grouper }}
                    {% regroup path_group.list by level as level_list %}
                    <ul style="padding-left:1em; list-style-type:none;">
                        {% for level_group in level_list %}
                            <li>
                                {% trans 'Level' %}: {{ level_group.grouper }}
                                <ul style="padding-left:2em; list-style-type:none;">
                                    {% for card in level_group.list %}
                                        <li>
                                            <a href="{% url 'card_detail' card.pk %}">{{ card }}</a>
                                            {% if card.is_played %}
                                                ({% trans 'Played by' %} {{ card.playing_player }} | {% trans 'Played on' %} {{ card.receiving_player }})
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                {% if not forloop.last %}<hr>{% endif %}
                </li>
            {% empty %}
                <li><em>{% trans 'No cards available.' %}</em></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
