{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Card' %} {{ card }} – {{ block.super }}{% endblock %}

{% block heading %}{% trans 'Player' %} {{ card }}{% endblock %}

{% block both %}
    <div class="col c12">
        <p>{% trans 'Owner' %}: {{ card.owner }}</p>
        <p>{% trans 'Target' %}: {{ card.target }}</p>
        <p>{% trans 'Value' %}: {{ card.value }}</p>
        <p><em>{{ card.description }}</em></p>
        <p>
            {% if card.used %}
                <em>{% trans 'This card was already played.' %}</em>
            {% elif user.is_staff %}
                <a href="{% url 'card_play' card.pk %}"><button>{% trans 'Play this card' %}</button></a>
            {% else %}
                <em>{% trans 'This card was not yet played.' %}</em>
            {% endif %}
        </p>
    </div>
{% endblock %}
