<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8" />
    <link href='http://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Enriqueta' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}in-response.css" title="In Response" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=0.6" />
    <title>{% block title %}{% endblock %}</title>
</head>

<body class="light">
<div id="layout">
    <div class="row">
        <div class="col c12">
            <h1 class="aligncenter"><a href="/">{{ config.title }}</a></h1>
            <p class="aligncenter slogan">{{ config.subtitle }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col c12 aligncenter navmenu">
            <p>
                <a href="/" class="current">Startseite</a>
                <a href="#">Spieler</a>
                <a href="#">Nachrichten</a>
                <a href="#">Karten</a>
                <a href="/admin/">Administration</a>
            </p>
        </div>
    </div>
  
    <div class="row">
        <div class="col c12 aligncenter headerimage">
            <img src="{{ STATIC_URL }}images/test.jpg" width="960" height="300" alt="" />
        </div>
    </div>

    {% block content %}{% endblock %}

    <div class="row">
        <div class="col c12 aligncenter">
            <p><span class="larger">&copy; 2013 {{ config.name }}</span><br />
            Powered by <a href="http://github.com/normanjaeckel/wlan-simulation-game">WLAN Simulation Game</a><br />
            <a href="http://andreasviklund.com/dt_portfolio/in-response/">Template design</a> by <a href="http://andreasviklund.com/">Andreas Viklund</a></p>
        </div>
    </div>
 </div>
</body>
</html>
