{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Home' %} – {{ block.super }}{% endblock %}

{% block heading %}{{ config.headline }}{% endblock %}

{% block both %}
    <div class="col c12">
        <p>{{ config.introduction|linebreaks }}</p>
        {% if user.is_staff %}
            <p><a href="{% url 'home_print_introduction' %}">{% trans 'Print introduction' %}</a></p>
            <p><a href="{% url 'home_print_access_data' %}">{% trans 'Print access data' %}</a></p>
        {% endif %}
    </div>
{% endblock %}


