{% extends 'base.html' %}

{% load i18n %}

{% block styles %}
    {{ block.super }}
    <style>
        .errorlist {color:rgb(208, 96, 96);}
    </style>
{% endblock %}

{% block title %}{% trans 'Login' %} – {{ block.super }}{% endblock %}

{% block heading %}{% trans 'Login' %}{% endblock %}

{% block both %}
    <div class="col c12">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{% trans 'Login' %}">
        </form>
    </div>
{% endblock %}
