{% extends 'base_print.html' %}

{% load i18n %}

{% block styles %}
    {{ block.super }}
    <style>
        .card {padding:10px 0px 0px;}
    </style>
{% endblock %}

{% block title %}{% trans 'List of all cards' %} – {{ block.super }}{% endblock %}

{% block content %}
    <h1>{% trans 'List of all cards' %}</h1>
    {% regroup card_list by get_path_display as path_list %}
        {% for path_group in path_list %}
            <h2>{{ path_group.grouper }}</h2>
            {% regroup path_group.list by level as level_list %}
            <dl>
                {% for level_group in level_list %}
                    {% for card in level_group.list %}
                        <dt class="card">{{ card }}</dt>
                        <dd>
                            {% if card.path != 0 %}
                                {% trans 'Level' %} {{ level_group.grouper }}
                            {% else %}
                                {{ card.bad_playing_player }} &#8594; {{ card.bad_receiving_player }}
                            {% endif %}
                        </dd>
                    {% endfor %}
                {% endfor %}
            </ul>
            {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
{% endblock %}
