{% extends 'base.html' %}

{% load i18n %}

{% block styles %}
    {{ block.super }}
    <style type="text/css">
        td.scorebar {
            height:3em;
            width:100%;
        }
        td.scorebar span {
            background-color:blue;
            width:100%;
            float:left;
            margin-left:10px;
            margin-right:10px;
        }
    </style>
{% endblock %}

{% block title %}{% trans 'All players' %} – {{ block.super }}{% endblock %}

{% block heading %}{% trans 'The players and their actual score' %}{% endblock %}

{% block both %}
    <div class="col c12">
        <table>
            {% for player in player_list %}
                <tr>
                    <td><a href="{% url 'player_detail' player.pk %}">{{ player }}</a></td>
                    <td class="scorebar"><span style="width:{{player.relative_score}}%;">&nbsp;</span>{{ player.score }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}



