{% extends 'base.html' %}

{% load i18n %}
{% load wlan_simulation_game_extras %}

{% block title %}{% trans 'Player' %} {{ player }} – {{ block.super }}{% endblock %}

{% block heading %}{{ player }}{% endblock %}

{% block both %}
    <div class="col c12">
        <p>{% trans 'Score' %}: {{ player.score }}</p>
        <p>{% trans 'Playable cards' %}: {% blocktrans with player.playable_cards as cards %}still {{ cards }}{% endblocktrans %}</p>
        <p>
            {% trans 'Interceptions' %}:
            {% with rest_interceptions=player.interception_set.all.count|rest_interceptions %}
                {% blocktrans %}still {{ rest_interceptions }}{% endblocktrans %}
            {% endwith %}
        </p>
        <p><em>{{ player.description }}</em></p>
    </div>
{% endblock %}

