{% extends 'base.html' %}

{% load i18n %}

{% block styles %}
    {{ block.super }}
    <style>
        .errorlist {
            color: rgb(208, 96, 96);
        }
    </style>
{% endblock %}

{% block title %}{% trans 'New message' %} – {{ block.super }}{% endblock %}

{% block heading %}{% trans 'New message' %}{% endblock %}

{% block left %}
    <p><a href="{% url 'message_list' %}">{% trans 'All messages' %}</a></p>
    {% if user.is_staff %}
        <p><a href="{% url 'message_list_not_printed' %}">{% trans 'All messages to be printed' %}</a></p>
    {% else %}
        <p><a href="{% url 'interception' %}">{% trans 'Interception' %}</a></p>
    {% endif %}
{% endblock %}

{% block right %}
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Send' %}" />
        <input type="reset" value="{% trans 'Reset' %}" />
        <a href="{% url 'message_list' %}"><button type="button">{% trans 'Cancel' %}</button></a>
    </form>
{% endblock %}
