{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'All messages' %} – {{ block.super }}{% endblock %}

{% block heading %}{% trans 'All messages' %}{% endblock %}

{% block left %}
    {% if user.is_staff %}
        <p><a href="{% url 'message_list_not_printed' %}">{% trans 'All messages to be printed' %}</a></p>
    {% endif %}
    <p>
        <a href="{% url 'message_create' %}">{% trans 'New message' %}</a>
        {% if not user.is_staff and not config.players_can_submit_messages %}
            ({% trans 'Disabled' %})
        {% endif %}
    </p>
    {% if not user.is_staff %}
        <p><a href="{% url 'interception' %}">{% trans 'Interception' %}</a></p>
    {% endif %}
{% endblock %}

{% block right %}
    {% regroup message_list by sender as sender_list %}
    <ul>
    {% for sender_group in sender_list %}
        <li>
            {% trans 'Sender' %}:
            {% if sender_group.grouper %}
                {{ sender_group.grouper }}
            {% else %}
                {% trans 'Game Master' %}
            {% endif %}
            {% regroup sender_group.list by recipient as recipient_list %}
            <ul style="padding-left:1em; list-style-type:none;">
                {% for recipient_group in recipient_list %}
                    <li>
                        {% trans 'Recipient' %}:
                        {% if recipient_group.grouper %}
                            {{ recipient_group.grouper }}
                        {% else %}
                            {% trans 'All players' %}
                        {% endif %}
                        <ul style="padding-left:2em; list-style-type:none;">
                            {% for message in recipient_group.list %}
                                <li>
                                    <a href="{% url 'message_detail' message.pk %}">{{ message }}</a>
                                    {% if message.printed %}
                                        <img
                                            src="{{ STATIC_URL }}images/printer.png"
                                            title="{% trans 'printed' %}"
                                            style="margin-bottom:-3px;" />
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% empty %}
        <li><em>{% trans 'No messages available.' %}</em></li>
    {% endfor %}
    </ul>
{% endblock %}
