{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Message' %} – {{ block.super }}{% endblock %}

{% block heading %}{{ message }}{% endblock %}

{% block left %}
    <p><a href="{% url 'message_list' %}">{% trans 'All messages' %}</a></p>
    {% if user.is_staff %}
        <p><a href="{% url 'message_list_not_printed' %}">{% trans 'All messages to be printed' %}</a></p>
    {% endif %}
    <p><a href="{% url 'message_create' %}">{% trans 'New message' %}</a></p>
{% endblock %}

{% block right %}
    <ul>
        <li>{% trans 'From' %}: {{ message.sender }}</li>
        <li>{% trans 'To' %}: {{ message.recipient }}</li>
        <li>{% trans 'Time' %}: {{ message.sending_time }}</li>
    </ul>
    <p><strong>{{ message.subject }}</strong></p>
    <div style="padding-left:1em;">{{ message.text|linebreaks }}</div>
    <p>
        {% if message.printed %}
            <em>{% trans 'This message was already printed.' %}</em>
        {% elif user.is_staff %}
            <a href="{% url 'message_print' message.pk %}"><button>{% trans 'Message printed' %}</button></a></p>
        {% else %}
            <em>{% trans 'This message was not yet printed.' %}</em>
        {% endif %}
    </p>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {% if not message.printed and user.is_staff %}
        <script type="text/javascript">window.onload = function () {window.print();}</script>
    {% endif %}
{% endblock %}
