{% load i18n %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8" />
    <style type="text/css">
        .card {page-break-after:always;}
        .card {font-size:175%}
    </style>
    <style type="text/css" media="print">
        .card hr {display:none;}
    </style>
</head>
<body>
    {% for card in card_list %}
        <div class="card">
            <h1>{{ card }}</h1>
            <p>{% trans 'Owner' %}: {{ card.owner }}</p>
            <p>{% trans 'Target' %}: {{ card.target }}</p>
            <p>{% trans 'Value' %}: {{ card.value }}</p>
            <p><em>{{ card.description }}</em></p>
            <hr />
        </div>
    {% endfor %}
</body>
